body {
    padding-top: 50px;
}

span#tardis img{
    margin: 50px 0 20px 40px;
}

.board-heading {
    margin-bottom: 0;
}

td, th {
    border-top: none !important;
}

img.avatar {
    border-radius: 3px;
}
