{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="textcontent">
    <h1>{% trans 'Reset password' %}</h1>
</div>

<div id="postbucket">
    <form action="" method="post">
        <table width="50%">
            {{ form }}
            {% csrf_token %}
            <tr><td></td><td><input type="submit" class="button" value="{% trans 'Reset password' %}"/></td></tr>
        </table>
    </form>
</div>
{% endblock %}
